@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體",Arial;
}

.bd {
  border: 1px solid blue;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

p {
  font-size: 15px;
  margin-bottom: 0px;
}

.por {
  position: relative;
}

.menu, .closed {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 99em;
  background-color: #fff;
  opacity: 0.6;
  z-index: 2;
}

.menu div, .closed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu div img, .closed div img {
  display: inline-block;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

.contactBtn {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.contactBtn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  padding: 4px;
  margin-top: 8px;
  border-radius: 99em;
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer;
  overflow: hidden;
}

.contactBtn div img {
  display: inline-block;
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contentBody {
  min-height: 80vh;
}

.contact_icon {
  width: 36px;
}

.main_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_block {
  overflow: hidden;
  position: relative;
}

.left, .right, .center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.left {
  background-color: #F1F4F2;
  width: 100%;
}

.right {
  display: none;
  background-color: #002A29;
}

.center {
  width: 35%;
  display: none;
}

@media screen and (min-width: 768px) {
  .left {
    width: 79.2%;
  }
  .right {
    display: block;
    width: 20.8%;
  }
}

@media screen and (min-width: 1025px) {
  .center {
    display: block;
  }
  .left, .right {
    width: 32.5%;
  }
}

.index_title, .index_p1 {
  position: relative;
  vertical-align: top;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
}

.index_p1 {
  color: #007A79;
}

.index_title {
  font-size: 36px;
  color: #002A29;
}

.center_img {
  position: relative;
  height: 100%;
  background-color: #fff;
}

.index_me {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.index_img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 100%;
  max-height: 100%;
  opacity: 0;
  -webkit-animation: round 25s linear infinite;
          animation: round 25s linear infinite;
}

.index_pos {
  position: relative;
  top: 45%;
  left: 50%;
  width: 80%;
  height: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: top;
}

.index_pos .frameImg {
  position: absolute;
  width: 100%;
  height: 722px;
}

.index_pos .index_pad_img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.menu_area {
  position: fixed;
  width: 100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(241, 244, 242, 0.95);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  z-index: 20;
}

.menu_ul1 {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.menu_li1 {
  display: inline-block;
  float: left;
  width: 20%;
}

.menu_li1 a {
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-size: 20px;
  color: #002A29;
  font-weight: 600;
  text-decoration: none;
}

.menu_li1 a div {
  font-size: 14px;
  line-height: 12px;
}

.menu_title {
  position: relative;
  top: 38px;
  text-align: center;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
  font-size: 16px;
  font-weight: 600;
}

.menu_title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0%;
  height: 1px;
  background-color: #007A79;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.menu_title:after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0%;
  height: 1px;
  background-color: #007A79;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.menu_title.active::before {
  width: 45%;
}

.menu_title.active::after {
  width: 45%;
}

.menu_title .menuBox {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid #007A79;
  background-color: #007A79;
  opacity: 0;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
          transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.menu_title .menuBox.active {
  opacity: 1;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
          transform: rotate3d(0, 1, 0, 0deg);
}

.menu_title .menuBox div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.menu_textArea {
  position: relative;
  margin-top: 0px;
  text-align: center;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .menu_textArea {
    margin-top: 70px;
  }
}

@media screen and (min-width: 768px) {
  .menu_textArea {
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) {
  .flex_ul1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex_li1 {
    display: inline-block;
  }
}

.flex_li1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .flex_li1 {
    margin-bottom: 0;
  }
}

.flex_li1 a {
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-size: 20px;
  color: #002A29;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .flex_li1 a {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .flex_li1 a {
    font-size: 20px;
  }
}

.flex_li1 a div {
  font-size: 14px;
  line-height: 12px;
}

.flex_li1 > a:hover {
  text-shadow: 0px 0px 20px rgba(158, 197, 69, 0.8);
  font-weight: 800;
}

.flex_li1 div ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #650C0C;
  border-radius: 20px;
  padding: 2px 4px;
}

@media screen and (min-width: 992px) {
  .flex_li1 div ul li a {
    padding: 2px 12px;
  }
}

.flex_li1 div ul li a:hover {
  background-color: #ffc669;
}

@media screen and (min-width: 992px) {
  .list_show {
    opacity: 0;
    position: relative;
    top: 20px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .flex_li1:hover .list_show {
    opacity: 1;
    top: 0;
  }
  .flex_li1:hover .list_control {
    text-shadow: 0px 0px 20px #9ec545;
    font-weight: 800;
  }
}

@media screen and (min-width: 768px) {
  .index_pad_img {
    width: 500px;
  }
  .index_pos {
    width: 500px;
    height: 750px;
  }
}

@media screen and (max-width: 1024.98px) {
  .main_home {
    height: 100vh;
  }
}

@media screen and (min-width: 1025px) {
  .main_home {
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, from(#F1F4F2), color-stop(50%, #F1F4F2), color-stop(50%, #002A29), to(#002A29));
    background: linear-gradient(90deg, #F1F4F2 0%, #F1F4F2 50%, #002A29 50%, #002A29 100%);
  }
  .index_title, .index_p1 {
    display: inline-block;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
  }
  .index_pad_img {
    display: none;
  }
  .index_pos {
    width: 180px;
    height: 280px;
  }
}

.footer {
  margin-top: 24px;
  border-top: 1px solid #007A79;
  padding: 12px;
}

.footer div {
  font-size: 14px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
}

.title_text {
  font-size: 14px;
  color: #007A79;
  z-index: 5;
}

@media screen and (min-width: 767.98px) {
  .title_text.has_active {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #007A79));
    background: linear-gradient(90deg, white 50%, #007A79 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.title_text.has_active2 {
  color: white;
}

.main_page {
  position: relative;
  min-height: 100vh;
  background-color: #F1F4F2;
}

.about_flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1025px) {
  .about_flex-center {
    height: 90vh;
  }
}

.about_photo {
  display: none;
  position: absolute;
  width: 50%;
  right: 0;
}

@media screen and (min-width: 1025px) {
  .about_photo {
    display: block;
  }
}

.aboutme1 {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .aboutme1 {
    height: 100vh;
  }
}

.about_td1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100px;
}

.about_td2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc( 100% - 100px);
}

.about_qhchen img {
  width: 350px;
}

.title_cn {
  font-size: 21px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #C48E28;
  font-weight: 600;
}

.title_en {
  font-size: 14px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #650C0C;
  font-weight: 600;
  margin-top: -8px;
}

.bgc_darkgreen {
  background-color: #007A79;
}

.mb-125-5 {
  margin-bottom: 3rem;
}

.title_sm {
  font-size: 16px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
  font-weight: 600;
}

.about_img1 {
  width: 80%;
}

@media screen and (min-width: 992px) {
  .col-769-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media screen and (min-width: 1025px) {
  .about_img-none {
    display: none;
  }
  .about_active {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #007A79), color-stop(50%, white));
    background: linear-gradient(90deg, #007A79 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .mb-125-5 {
    margin-bottom: 0;
  }
}

.title_skill {
  font-size: 15px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #650C0C;
  font-weight: 600;
}

.skill_text h6 {
  font-size: 17px;
  background-color: #007A79;
  color: #fff;
  border-radius: 14px;
  padding: 0px 10px;
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .col-2_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
}

.work_nav, .resource_nav {
  text-align: left;
}

@media screen and (min-width: 576px) {
  .work_nav, .resource_nav {
    text-align: right;
  }
}

.work_nav div, .resource_nav div, .work_nav div {
  display: inline-block;
  padding: 2px 12px;
  margin: 8px;
  color: #007A79;
  cursor: pointer;
}

.work_nav .active, .resource_nav .active, .work_nav .active {
  background-color: #007A79;
  border-radius: 20px;
  color: #fff;
}

.hover_inform {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: rgba(5, 5, 5, 0.5);
}

@media screen and (min-width: 1200px) {
  .hover_inform {
    height: 0%;
    background-color: rgba(5, 5, 5, 0);
  }
}

.work_item:hover .hover_inform {
  height: 100%;
  background-color: rgba(5, 5, 5, 0.5);
}

.work_text {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
}

.work_item {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  aspect-ratio: 16 / 11;
  overflow: hidden;
}

.work_item img {
  width: 100%;
}

.main_page.page_Swiper {
  height: 100%;
}

.page_subTitle {
  color: #007A79;
  font-size: 14px;
}

.page_text {
  font-size: 15px;
  color: #333333;
}

.page_btn {
  display: inline-block;
  border: 0;
  padding: 2px 10px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #007A79;
  color: white;
  cursor: pointer;
}

.hover_resource {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background-color: white;
}

.resource_text {
  font-size: 14px;
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  text-align: center;
}

.resource_item {
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  aspect-ratio: 68 / 61;
  overflow: hidden;
}

.resource_item:hover .hover_resource {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  border-radius: 5px;
}

.resource_item img {
  width: 100%;
}

.rs_t1 {
  font-size: 18px;
  color: #650C0C;
}

.rs_t2 {
  font-size: 14px;
  color: #C48E28;
}

.rs_p {
  font-size: 14px;
  color: #555;
  padding-top: 6px;
}

.poa_header {
  position: absolute;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  border: 0px solid #000;
  font-size: 15px;
  padding-top: 70px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  overflow: hidden;
}

.web-content {
  padding-bottom: 16px;
}

@media screen and (min-width: 576px) {
  .web-content {
    padding-bottom: 0px;
    min-height: calc( 60vh - 20px);
  }
}

@media screen and (min-width: 768px) {
  .web-content .textWhite {
    color: #fff !important;
  }
}

.web-content .ypro_titleColor {
  color: #1C1C80 !important;
}

@media screen and (min-width: 768px) {
  .web-content .ypro_titleColor {
    color: #fff !important;
  }
}

.work_topImg {
  width: 100%;
  max-height: 80vh;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #007A79;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.work_title {
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 8px;
  color: #007A79;
}

.work_subTitle {
  font-size: 16px;
  font-weight: 600;
}

.work_topImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-row {
  --bs-gutter-x: 2rem;
}

@media screen and (min-width: 1200px) {
  .work-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.vh-100 {
  height: 100vh;
}

.work_one_title {
  text-align: center;
  font-family: Arial, serif;
  font-weight: bold;
  font-size: 74px;
  padding-top: 36px;
  color: #007A79;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .work_one_title {
    font-size: 74px;
  }
}

.work_one_title.fz {
  font-size: 60px;
  line-height: 26px;
  padding-top: 0px;
  padding-bottom: 1.2rem;
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .work_one_title.fz {
    font-size: 60px;
  }
}

.work_one_title.C_ypro {
  color: transparent;
  -webkit-text-stroke: 1.5px #1C1C80;
}

.work_one_p {
  font-size: 20px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
  text-align: center;
  color: #002A29;
  margin-bottom: 0;
}

.work_one_p_en {
  text-align: center;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-size: 14px;
  color: #002A29;
  margin-bottom: 0;
}

.work_one_p.C_ypro {
  color: #1C1C80;
}

.work_one_p_en.C_ypro {
  color: #54C3F1;
}

.swatch {
  height: 25px;
  width: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #fff;
  display: inline-block;
}

.sw_ypro1 {
  background-color: #1C1C80;
  border: 1px solid #fff;
}

.sw_ypro2 {
  background-color: white;
  border: 1px solid #eee;
}

.sw_ypro3 {
  background-color: #FFB336;
  border: 1px solid #fff;
}

.sw_ypro4 {
  background-color: #54C3F1;
  border: 1px solid #fff;
}

.sw_ypro5 {
  background-color: #555555;
  border: 1px solid #fff;
}

.btnWeb {
  background-color: #fff;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  padding: 6px 45px;
}

.btnWeb:hover {
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.btnWeb.ypro {
  background-color: #1C1C80;
  color: white;
}

@media screen and (min-width: 768px) {
  .btnWeb.ypro {
    background-color: white;
    color: #1C1C80;
  }
}

.swiper-slide.bg_ypro {
  border: 0px solid #000;
}

@media screen and (min-width: 768px) {
  .swiper-slide.bg_ypro {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #1C1C80), color-stop(50%, transparent));
    background: linear-gradient(90deg, #1C1C80 50%, transparent 50%);
  }
}

.swiper-slide.bg_ypro2 {
  background-color: #1C1C80;
}

.webP2Box {
  display: none;
}

@media screen and (min-width: 768px) {
  .webP2Box {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0%;
    padding: 0;
    background-image: url(../img/);
    overflow: hidden;
  }
}

.webP2Img {
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.max-GridBox {
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .max-GridBox {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .max-GridBox {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .max-GridBox {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .max-GridBox {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .max-GridBox {
    max-width: 1320px;
  }
}

.max-GridBox > div > div {
  border: 1px solid #fff;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  color: #1C1C80;
}

@media screen and (min-width: 768px) {
  .max-GridBox > div > div {
    padding: 3.5rem 3rem;
  }
  .max-GridBox > div > div:first-child {
    border-top-left-radius: 10px;
  }
  .max-GridBox > div > div:first-child > div:nth-child(1) {
    background-color: #f1f4f2;
  }
  .max-GridBox > div > div:nth-child(2) {
    border-top-right-radius: 10px;
    background-color: #e3e9e5;
  }
  .max-GridBox > div > div:nth-child(2) > div:nth-child(1) {
    background-color: #fff;
  }
  .max-GridBox > div > div:nth-child(3) {
    border-bottom-left-radius: 10px;
    background-color: #e3e9e5;
  }
  .max-GridBox > div > div:nth-child(3) > div:nth-child(1) {
    background-color: #fff;
  }
  .max-GridBox > div > div:nth-child(4) {
    border-bottom-right-radius: 10px;
  }
  .max-GridBox > div > div:nth-child(4) > div:nth-child(1) {
    background-color: #f1f4f2;
  }
}

@media screen and (min-width: 1024px) and (max-height: 650px) {
  .max-GridBox > div > div {
    padding: 2rem 2rem;
  }
}

.max-GridBox > div > div > div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 99rem;
}

@media screen and (min-width: 768px) {
  .max-GridBox > div > div > div:nth-child(1) {
    height: 120px;
    width: 120px;
  }
}

.max-GridBox > div > div > div:nth-child(1) img {
  position: relative;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .max-GridBox > div > div > div:nth-child(1) img {
    height: 70%;
  }
}

.max-GridBox > div > div > div:nth-child(2) {
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .max-GridBox > div > div > div:nth-child(2) {
    padding-left: 2rem;
  }
}

.max-GridBox > div > div > div:nth-child(2) > p {
  font-size: 14px;
}

@media screen and (min-width: 400px) {
  .max-GridBox > div > div > div:nth-child(2) > p {
    font-size: 15px;
  }
}

.system-context {
  text-align: center;
}

.system-context h1 {
  font-size: 24px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .system-context h1 {
    font-size: 28px;
  }
}

.system-context p {
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  .system-context p {
    font-size: 16px;
  }
}

.system-lottie {
  height: 500px;
}

.system-block1 {
  background-color: #007A79;
  color: #fff;
}

.system-block2 h1 {
  color: #007A79;
}

.system-block3 {
  background: -webkit-linear-gradient(top, #007A79 0%, #007A79 50%, transparent 50%, transparent 100%);
  color: #fff;
}

.system-block1 h1, .system-block2 h1, .system-block3 h1 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
}

@media screen and (min-width: 992px) {
  .system-block1 h1, .system-block2 h1, .system-block3 h1 {
    font-size: 24px;
  }
}

.system-grid {
  text-align: center;
}

.system-grid div {
  margin-bottom: 16px;
}

.system-grid h3 {
  text-align: left;
  font-size: 17px;
}

@media screen and (min-width: 992px) {
  .system-grid h3 {
    font-size: 18px;
  }
}

.system-grid img {
  width: 100%;
}

.swiper-slide.bg_halfGreen {
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #007A79), color-stop(50%, transparent));
  background: linear-gradient(90deg, #007A79 50%, transparent 50%);
}

@media screen and (max-width: 767.98px) {
  .swiper-slide.bg_halfGreen {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #007A79), color-stop(50%, transparent));
    background: linear-gradient(360deg, #007A79 50%, transparent 50%);
  }
}

.systembox {
  position: relative;
  height: 85vh;
}

.system-title {
  font-size: 21px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
}

@media screen and (min-width: 991px) {
  .system-title {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .system-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 1500px) {
  .system-title {
    font-size: 36px;
  }
}

.system-subtitle {
  font-size: 18px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
}

@media screen and (min-width: 991px) {
  .system-subtitle {
    font-size: 24px;
  }
}

.system-subtitle span {
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
}

.system-memo {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  color: #002A29;
}

@media screen and (max-height: 600px) {
  .system-memo {
    bottom: 24px;
  }
}

.swiper-slide.bg_system01 {
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #007A79), color-stop(35%, transparent));
  background: linear-gradient(90deg, #007A79 35%, transparent 35%);
}

@media screen and (max-width: 519px) {
  .swiper-slide.bg_system01 {
    background: transparent;
  }
}

.col-35 {
  -ms-flex: 0 0 35%;
  -webkit-box-flex: 0;
          flex: 0 0 35%;
  max-width: 35%;
}

@media screen and (max-width: 519px) {
  .col-35 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-35.p-set {
  padding-left: 0;
  padding-right: 3rem;
}

@media screen and (min-width: 992px) {
  .col-35.p-set {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 519px) {
  .col-35.p-set {
    padding-right: 0;
  }
}

.col-65 {
  -ms-flex: 0 0 65%;
  -webkit-box-flex: 0;
          flex: 0 0 65%;
  max-width: 65%;
}

@media screen and (max-width: 519px) {
  .col-65 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.fac8-p1 {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 519px) {
  .fac8-p1 {
    background-color: #007A79;
    padding: 8px;
  }
}

.fac8-p1::before {
  content: "";
  color: white;
  position: absolute;
  width: 1px;
  top: 30px;
  height: 290px;
  background-color: white;
}

@media screen and (max-width: 519px) {
  .fac8-p1::before {
    display: none;
  }
}

.fac8-p1 h2 {
  height: 320px;
  color: white;
}

@media screen and (max-width: 519px) {
  .fac8-p1 h2 {
    height: inherit;
  }
}

.fac8-p2 {
  position: relative;
  color: white;
  font-size: 14px;
}

@media screen and (min-width: 991px) {
  .fac8-p2 {
    font-size: 15px;
  }
}

.fac8-p3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fac8-p3 div img {
  width: 80%;
}

@media screen and (min-width: 991px) {
  .fac8-p3 div img {
    width: 90%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1300px) {
  .fac8-p3 div img {
    width: 100%;
  }
}

@media screen and (max-width: 519px) {
  .fac8-p3 div img {
    width: 90%;
  }
}

.fac8-p4 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fac8-p4::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 140px;
  background-color: #007A79;
  margin-left: -16px;
}

@media screen and (min-width: 768px) {
  .fac8-p4::before {
    background-color: white;
  }
}

.fac8-p4 h2 {
  height: 85px;
}

@media screen and (min-width: 768px) {
  .fac8-p4 h2 {
    color: white;
  }
}

.fac8-p4 p {
  color: #007A79;
}

@media screen and (min-width: 768px) {
  .fac8-p4 p {
    color: #fff;
    padding-right: 2rem;
  }
}

.fac8-p5 {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .fac8-p5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.fac8-p6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1300px) {
  .fac8-p6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 991.98px) {
  .fac8-p6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fac8-p7 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1300px) {
  .fac8-p7 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 40%;
  }
}

@media screen and (max-width: 991.98px) {
  .fac8-p7 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
  }
}

@media screen and (max-width: 767.98px) {
  .fac8-p7 {
    width: 60%;
  }
}

@media screen and (max-width: 650.98px) {
  .fac8-p7 {
    width: 300px;
  }
}

@media screen and (max-width: 650.98px) {
  .fac8-p7 {
    width: 240px;
  }
}

@media screen and (max-width: 350.98px) {
  .fac8-p7 {
    width: 190px;
  }
}

.fac8-p7 .fac8TY_pd {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1000px) and (max-width: 1025px) and (min-height: 1300px) {
  .fac8-p7 .fac8TY_pd {
    width: 130%;
  }
}

.fac8-p7 .fac8TY_nb {
  width: 80px;
  position: absolute;
  top: 100%;
  right: -10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1500px) {
  .fac8-p7 .fac8TY_nb {
    width: 100px;
  }
}

@media screen and (max-width: 640px) {
  .fac8-p7 .fac8TY_nb {
    width: 50px;
  }
}

@media screen and (max-width: 350.98px) {
  .fac8-p7 .fac8TY_nb {
    top: calc( 100% - 20px);
    width: 30px;
  }
}

@media screen and (min-width: 992px) {
  .r1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .r2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .r3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.fac8PT-title {
  font-size: 36px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  color: #007A79;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .fac8PT-title {
    font-size: 21px;
  }
}

@media screen and (max-width: 440px) {
  .fac8PT-title {
    font-size: 18px;
  }
}

.systembox.line::before {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 100%;
  background-color: #007A79;
  margin-left: -32px;
}

@media screen and (max-width: 440px) {
  .systembox.line::before {
    display: none;
  }
}

.Os1, .Os3, .Os5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  aspect-ratio: 77 / 30;
  overflow: hidden;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 576px) {
  .Os1, .Os3, .Os5 {
    aspect-ratio: 77 / 50;
  }
}

.Os1 img, .Os3 img, .Os5 img {
  width: 90%;
}

@media screen and (min-width: 576px) {
  .Os1 img, .Os3 img, .Os5 img {
    width: 100%;
  }
}

.Os2, .Os4, .Os6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.25rem;
  font-size: 14px;
}

.Os2 {
  background-color: #007A79;
  color: white;
}

.Os4 {
  background-color: #007A79;
  color: white;
}

.Os6 {
  background-color: #007A79;
  color: white;
}

.fac8-p8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 991px) {
  .fac8-p8 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fac8-p8 h2 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #007A79;
  margin-left: -16px;
  padding-right: -16px;
}

.fac8-p8 p {
  color: #650C0C;
}

.fac8-p9 {
  height: 80vh;
  overflow: hidden;
}

.fac8-p9 img {
  border: 1px solid #999;
}

@media screen and (min-width: 1200px) {
  .maxMap.po-center {
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.maxMap {
  position: relative;
  border: 1px solid #000;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.maxMap .ipadImg {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .maxMap .ipadImg {
    text-align: center;
    display: block;
  }
}

.maxMap img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .maxMap {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .maxMap {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .maxMap {
    max-width: 960px;
  }
  .maxMap img {
    width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .maxMap {
    max-width: 1140px;
  }
  .maxMap img {
    width: 700px;
  }
}

@media screen and (min-width: 1400px) {
  .maxMap {
    max-width: 1320px;
  }
  .maxMap img {
    width: 960px;
  }
}

@media screen and (min-width: 1550px) {
  .maxMap {
    max-width: 1470px;
  }
  .maxMap img {
    width: 1060px;
  }
}

@media screen and (min-width: 1750px) {
  .maxMap {
    max-width: 1630px;
  }
  .maxMap img {
    width: 1160px;
  }
}

.ipad1 {
  position: absolute;
  width: 150px;
  vertical-align: top;
}

.ipad1 h4 {
  font-weight: 600;
  position: relative;
}

.ipad1 p {
  font-size: 15px;
}

.ipad1_text1 {
  position: relative;
}

@media screen and (min-width: 576px) {
  .ipad1_text1 h4::after {
    content: " ";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 180px;
    background-color: red;
    height: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .ipad1_text1 {
    display: block;
    position: absolute;
    top: 100px;
    left: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .ipad1_text1 {
    top: 150px;
    left: 20px;
  }
  .ipad1_text1 h4::after {
    width: 155px;
  }
}

@media screen and (min-width: 1550px) {
  .ipad1_text1 h4::after {
    width: 190px;
  }
}

@media screen and (min-width: 1750px) {
  .ipad1_text1 {
    top: 150px;
    left: 40px;
  }
  .ipad1_text1 h4::after {
    width: 195px;
  }
}

.ipad1_text2 {
  position: relative;
}

@media screen and (min-width: 576px) {
  .ipad1_text2 h4::after {
    content: " ";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 360px;
    background-color: red;
    height: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .ipad1_text2 {
    display: block;
    position: absolute;
    top: 235px;
    left: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .ipad1_text2 {
    top: 305px;
    left: 20px;
  }
  .ipad1_text2 h4::after {
    width: 400px;
  }
}

@media screen and (min-width: 1550px) {
  .ipad1_text2 h4::after {
    width: 450px;
  }
}

@media screen and (min-width: 1750px) {
  .ipad1_text2 {
    top: 325px;
    left: 40px;
  }
  .ipad1_text2 h4::after {
    width: 480px;
  }
}

.ipad1_text3 {
  position: relative;
}

@media screen and (min-width: 576px) {
  .ipad1_text3 h4::before {
    content: " ";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 70px;
    background-color: red;
    height: 2px;
    left: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .ipad1_text3 {
    display: block;
    position: absolute;
    top: 90px;
    left: 950px;
  }
}

@media screen and (min-width: 1400px) {
  .ipad1_text3 {
    top: 150px;
    left: 1150px;
  }
}

@media screen and (min-width: 1550px) {
  .ipad1_text3 {
    left: 1300px;
  }
  .ipad1_text3 h4::before {
    width: 85px;
    left: -85px;
  }
}

@media screen and (min-width: 1750px) {
  .ipad1_text3 {
    top: 150px;
    left: 1420px;
  }
}

.ipad1_text4 {
  position: relative;
}

@media screen and (min-width: 576px) {
  .ipad1_text4 h4::before {
    content: " ";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 70px;
    background-color: red;
    height: 2px;
    left: -70px;
  }
}

@media screen and (min-width: 1200px) {
  .ipad1_text4 {
    display: block;
    position: absolute;
    top: 220px;
    left: 950px;
  }
}

@media screen and (min-width: 1400px) {
  .ipad1_text4 {
    top: 300px;
    left: 1150px;
  }
}

@media screen and (min-width: 1550px) {
  .ipad1_text4 {
    left: 1300px;
  }
  .ipad1_text4 h4::before {
    width: 85px;
    left: -85px;
  }
}

@media screen and (min-width: 1750px) {
  .ipad1_text4 {
    top: 320px;
    left: 1420px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide.bg_jsun {
    background-color: #205DAE;
  }
}

.swiper-slide.bg_jsun2 {
  background-color: #205DAE;
}

.work_one_title.C_jsun, .work_one_p.C_jsun {
  color: #205DAE;
}

.work_one_title.C_jsun span, .work_one_p_en.C_jsun {
  color: #F39921;
}

.webP2Img.jsun {
  left: 30%;
}

.btnWeb.jsun {
  background-color: #205DAE;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .btnWeb.jsun {
    background-color: #fff;
    color: #205DAE;
  }
}

.sw_jsun1 {
  background-color: #205DAE;
  border: 1px solid #fff;
}

.sw_jsun2 {
  background-color: #fff;
  border: 1px solid #205DAE;
}

.sw_jsun3 {
  background-color: #F39921;
  border: 1px solid #fff;
}

.web-content .jsun_titleColor {
  color: #205DAE !important;
}

@media screen and (min-width: 768px) {
  .web-content .jsun_titleColor {
    color: #fff !important;
  }
}

.cisLeft {
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding: 16px;
}

@media screen and (min-width: 992px) {
  .cisLeft {
    border: 2px solid #007A79;
    overflow-Y: scroll;
    padding: 16px;
    position: fixed;
    width: 370px;
    height: 85%;
    top: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .cisLeft {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .cisLeft {
    width: 480px;
  }
}

@media screen and (min-width: 1920px) {
  .cisLeft {
    width: 500px;
  }
}

.cisLeft::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.cisLeft::-webkit-scrollbar-thumb {
  background: #007A79;
  border-radius: 10px;
}

.cisLeft > * {
  position: relative;
  z-index: 2;
}

.cisLeft .title_lgbg {
  background-color: #007A79;
  display: inline-block;
  position: relative;
  padding: 6px;
  margin-bottom: 16px;
}

@media screen and (min-width: 992px) {
  .cisLeft .title_lgbg {
    margin-bottom: 0;
    top: -16px;
    left: -16px;
  }
}

.cisLeft .title_lgbg h1 {
  font-size: 24px;
  color: #fff;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 10px 16px;
  margin-bottom: 0;
}

@media screen and (min-width: 1500px) {
  .cisLeft .title_lgbg h1 {
    font-size: 28px;
  }
}

.cisLeft h2 {
  font-size: 17px;
  color: #002A29;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
  opacity: 0.8;
}

@media screen and (min-width: 1500px) {
  .cisLeft h2 {
    font-size: 18px;
  }
}

.cisLeft h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  color: #650C0C;
}

@media screen and (min-width: 1500px) {
  .cisLeft h3 {
    font-size: 16px;
  }
}

.cisLeft p {
  font-size: 15px;
  color: #333;
  margin-bottom: 8px;
}

@media screen and (min-width: 1500px) {
  .cisLeft p {
    font-size: 18px;
  }
}

.cisLeft .web_comBg1, .cisLeft .web_comBg2 {
  position: absolute;
  z-index: 0;
}

.cisLeft .web_comBg1 {
  top: 95px;
  left: 10px;
}

@media screen and (min-width: 992px) {
  .cisLeft .web_comBg1 {
    top: 70px;
    left: 10px;
  }
}

.cisLeft .web_comBg2 {
  bottom: 20px;
  right: 20px;
}

.cisRight img {
  margin-top: 4px;
  margin-bottom: 8px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.blockArea {
  position: relative;
  top: 70px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding-top: 16px;
  margin-bottom: 0;
  top: -16px;
}

.blockArea .type-font {
  font-size: 14px;
  font-weight: normal;
}

.blockArea > * {
  padding-left: 16px;
  position: relative;
  z-index: 2;
}

.blockArea .title_lgbg {
  background-color: #007A79;
  display: inline-block;
  position: relative;
  padding: 6px;
  margin-bottom: 16px;
}

.blockArea .title_lgbg h1 {
  font-size: 24px;
  color: #fff;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 10px 16px;
  margin-bottom: 0;
}

@media screen and (min-width: 1500px) {
  .blockArea .title_lgbg h1 {
    font-size: 28px;
  }
}

.blockArea h2 {
  font-size: 17px;
  color: #002A29;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
  opacity: 0.8;
}

@media screen and (min-width: 1500px) {
  .blockArea h2 {
    font-size: 18px;
  }
}

.blockArea h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  color: #650C0C;
}

@media screen and (min-width: 1500px) {
  .blockArea h3 {
    font-size: 16px;
  }
}

.blockArea p {
  font-size: 15px;
  color: #333;
  margin-bottom: 8px;
}

@media screen and (min-width: 1500px) {
  .blockArea p {
    font-size: 18px;
  }
}

.blockArea .web_comBg1, .blockArea .web_comBg2 {
  position: absolute;
  z-index: 0;
}

.blockArea .web_comBg1 {
  top: 95px;
  left: 10px;
}

.blockArea .web_comBg2 {
  bottom: 20px;
  right: 20px;
}

@media screen and (min-width: 992px) {
  .goTop {
    height: 86%;
    top: 30px;
    display: fl;
  }
}

.headerBox {
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #007A79;
  z-index: 10;
  background-color: #F1F4F2;
  top: 0px;
  -webkit-transition: top .8s ease-in-out;
  transition: top .8s ease-in-out;
}

.headerBox.hideup {
  top: -70px !important;
}

.menuBtn img {
  width: 24px;
}

.titleQH {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #007A79;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
}

.mt-header {
  padding-top: 90px;
}

.anim_text h1 {
  font-size: 20px;
  font-weight: 600;
  color: #007A79;
}

.anim_text h2 {
  font-size: 17px;
  font-weight: 600;
}

.anim_text p {
  font-size: 15px;
}

.cards_text img {
  width: 85%;
}

.cards_text div {
  margin-bottom: 16px;
}

.cards_text div h1 {
  font-size: 20px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
  margin-bottom: 0;
  color: #007A79;
}

@media screen and (min-width: 992px) {
  .cards_text div h1 {
    font-size: 24px;
  }
}

.cards_text div h2 {
  font-size: 15px;
  font-weight: 600;
  color: #C48E28;
}

@media screen and (min-width: 992px) {
  .cards_text div h2 {
    font-size: 16px;
  }
}

.poster img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.poster div h1 {
  font-size: 20px;
  font-family: "Noto Serif TC", "微軟正黑體", Arial, serif;
  font-weight: 600;
  margin-bottom: 0;
  color: #007A79;
}

@media screen and (min-width: 992px) {
  .poster div h1 {
    font-size: 24px;
  }
}

.poster div h2 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
  color: #C48E28;
}

@media screen and (min-width: 992px) {
  .poster div h2 {
    font-size: 16px;
  }
}

.poster div h3 {
  font-size: 17px;
  font-weight: 600;
  color: #650C0C;
  margin-top: 12px;
  margin-bottom: 4px;
}

@media screen and (min-width: 992px) {
  .poster div h3 {
    font-size: 18px;
  }
}

.poster div p {
  font-size: 15px;
  color: #333;
}

@media screen and (min-width: 992px) {
  .poster div p {
    font-size: 16px;
  }
}

.revit_content div img {
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.tab_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1px;
}

.tab_menu div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 8px 24px;
  border: 1px solid #007A79;
  color: #007A79;
  margin: 0;
  margin-right: -1px;
  cursor: pointer;
}

.tab_menu .active {
  background-color: #007A79;
  color: #F1F4F2;
  font-weight: 600;
  position: relative;
}

.tab_menu .active::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #F1F4F2 transparent;
}

#tabBox div {
  border: 1px solid #007A79;
  display: none;
  padding: 16px;
  margin-bottom: 24px;
}

#tabBox div h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  position: relative;
  padding-left: 8px;
  margin-bottom: 24px;
}

#tabBox div h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 28px;
  background-color: #007A79;
}

#tabBox div h3 {
  font-size: 17px;
  color: #650C0C;
  font-weight: 600;
}

#tabBox .active {
  display: block;
}

.video {
  aspect-ratio: 16 / 9;
}
/*# sourceMappingURL=index.css.map */